$royal: #408E9A !default;
$facebook-color-lighter: #4d68a1;
$facebook-color-darker: #3c5a98;
$googleplus-color: #ef473a;
$bg-login-img: "../img/login-bg.jpg";
//$bg-login-img: "../img/login-closed-bg.jpg";

$button-outline-welcome-bg: #ffffff !default;
$button-outline-welcome-border: #ffffff;
$button-outline-welcome-text: #ffffff !default; //#444 !default;
$button-outline-welcome-border: #dfdfdf !default; //#ddd !default;
$button-outline-welcome-active-bg: #fafafa !default; //#fafafa !default;
$button-outline-welcome-active-border: #cfcfcf !default; //#ccc !default;
$button-outline-welcome-active-text: #cfcfcf !default; //#ccc !default;
