//common styles for Authentication pages (welcome, login, signup, forgot-pass)
//Page background
.authentication-bg {
  background: url($bg-login-img) no-repeat center center fixed;
  background-size: cover;
  background-color: $dark;
}

.authentication-bg a[href]{
  text-decoration: double;
}