.login-bg {
  background: url($bg-login-img) no-repeat center center fixed;
  background-size: cover;
  background-color: $dark;
}

.bar-header{
  margin-bottom: 200px;
  background-color: yellow;
}


.app-logo{
  padding-top: 5em;
  padding-bottom: 5em;
}

//Separators
.separator-light {
  width:80%;
  margin: 2em 10%;
  border-bottom: 1px solid $light;
  line-height: 0.1em;
  text-align:center;
  font-size: 80%;
  color: $light;
}
.separator-light span{
  background-color: $dark;
  padding: 5px;
}
