$royal: #408E9A !default;
$facebook-color-lighter: #4d68a1;
$facebook-color-darker: #3c5a98;
$googleplus-color: #ef473a;
//$bg-login-img: "../img/login-bg.jpg";
$bg-login-img: "../img/login-closed-bg.jpg";
