<ion-view view-title="{{ 'LOGIN_TITLE' | translate }}">
  <ion-content class="login-bg">

    <!-- button to return -->
    <div class="row light container-login-form">
      <div class="col col-100 text-left">
        <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="welcome"></a>
      </div>
    </div>


    <div class="row light container-login-form">
      <div class="col col-90 col-offset-5 text-center">

        <!-- Forgot password text -->
        <div class="col col-100 text-left">
          <div translate="LOGIN_FORGOT_PASSWORD"></div>
        </div>

        <!-- Login form -->
        <form name="loginForm" ng-submit="submitForm(userForm.$valid)" novalidate>
          <div class="list">
            <label class="item item-input">
              <input type="text" name="username" ng-model="user.username" class="form-control" required
                     placeholder="{{ 'LOGIN_FORM_EMAIL' | translate }}">
            </label>
            <label class="item item-input">
              <input type="password" name="password" ng-model="user.password" class="form-control" required
                     placeholder="{{ 'LOGIN_FORM_PASSWORD' | translate }}">
            </label>
          </div>
        </form>

      </div>
    </div>

    <!-- Login button -->
    <div class="row light">
      <div class="col col-90 col-offset-5 text-center">
        <button class="button button-login" translate="LOGIN_FORM_BUTTON" ng-disabled="loginForm.$invalid"/>
      </div>
    </div>

  </ion-content>
</ion-view>
