/*div{*/
  /*border: solid 1px yellow;*/
/*}*/
.button-circle {
  width: 50px;
  height: 50px;
  color: black;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 3px solid #FFFFFF;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button-circle i {
  font-size: 1.5em;
  color: #000000;
}

.button-circle:hover {
  border: 3px solid white;
  background-color: #f8f8f8; /*stable*/
  -webkit-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
}

.button-circle.rotate-15 {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.button-circle.rotate-15 + h3 {
  display:inline-block;
  margin-left: 10px;
  color: #37474F;
}



