<ion-view view-title="{{ 'LOGIN_TITLE' | translate }}">
  <ion-content class="authentication-bg">

    <!-- button to return -->
    <div class="row light container-login-form">
      <div class="col col-100 text-left">
        <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="welcome"></a>
      </div>
    </div>


    <div class="row light container-login-form">
      <div class="col col-90 col-offset-5 text-center">

        <!-- Forgot password text -->
        <div class="col col-100 text-left">
          <div translate="LOGIN_FORGOT_PASSWORD"></div>
        </div>

      </div>
    </div>

    <div class="row light container-login-form">
      <div class="col col-90 col-offset-5 text-center">

        <!-- Login form -->
        <form name="loginForm" ng-submit="login(loginUser)" novalidate>
          <div class="list">
            <label class="item item-input">
              <input type="text" name="username" ng-model="loginUser.username" class="form-control" required
                     placeholder="{{ 'LOGIN_FORM_EMAIL' | translate }}">
            </label>
            <label class="item item-input">
              <input type="password" name="password" ng-model="loginUser.password" class="form-control" required
                     placeholder="{{ 'LOGIN_FORM_PASSWORD' | translate }}">
            </label>
          </div>

          <!-- Login button -->
          <button class="button button-login" translate="LOGIN_FORM_BUTTON" type="submit"
                  ng-disabled="loginForm.$invalid"/>
        </form>

      </div>
    </div>

  </ion-content>
</ion-view>
