//button-outline-welcome
$button-outline-welcome-bg: #ffffff !default;
$button-outline-welcome-border: #ffffff;
$button-outline-welcome-text: #ffffff !default; //#444 !default;
$button-outline-welcome-border: #dfdfdf !default; //#ddd !default;
$button-outline-welcome-active-bg: #fafafa !default; //#fafafa !default;
$button-outline-welcome-active-border: #cfcfcf !default; //#ccc !default;
$button-outline-welcome-active-text: #cfcfcf !default; //#ccc !default;
