<ion-view view-title="{{ 'WELCOME.TITLE' | translate }}">
  <ion-content class="authentication-bg">

    <div class="row light">
      <div class="col col-100 text-center">
        <div class="app-logo">
          <img src="img/logo-white-large.png">
        </div>
      </div>
    </div>


    <div class="row light">
      <div class="col col-80 col-offset-10 text-center">
        <button class="button icon-left button-social-networks button-facebook ion-social-facebook" ng-click="loginWithFacebook()"
                translate="WELCOME.LOGIN_WITH_FACEBOOK"/>
      </div>
    </div>

    <div class="row light">
      <div class="col col-80 col-offset-10 text-center">
        <button class="button icon-left button-social-networks button-googleplus ion-social-googleplus" ng-click="loginWithGoogle()"
                translate="WELCOME.LOGIN_WITH_GOOGLEPLUS"/>
      </div>
    </div>

    <div class="row light row-no-padding">
      <div class="col col-80 col-offset-10 text-center">
        <div class="row light">
          <div class="col col-50 text-left">
            <a class="button button-outline-welcome" ui-sref="signup" translate="WELCOME.BUTTON_SIGNUP"></a>
          </div>
          <div class="col col-50 text-right">
            <a class="button button-outline-welcome" ui-sref="login" translate="WELCOME.BUTTON_LOGIN"></a>
          </div>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
