//.button.button-marcel {
//  border-color: $royal;
//  background-color: $royal;
//  color: #fff;
//}
//
.login-bg {
  background: url($bg-login-img) no-repeat center center fixed;
  background-size: cover;
}
//
////Separators
.separator-light{
  width: 80%;
  border-top: transparent;
  border-bottom-color: $light;
}

.scroll-bg {
  //background-color: $royal;
  background: url($big-bg) no-repeat center center fixed;
  background-size: cover;
}

//Circular button

