$royal: #408E9A !default;
$bg-login-img: "../img/bg-login.jpg";


//TESTS
$big-bg: "http://ioniconf.com/img/bg.jpg" !default;

// Ionic variables to override
$calm: #eb0500 !default;
$balanced: #7d00cb !default;

// My own variables to be used in my components, notice that we can also depend on other variables here.
$myPrettyColor: #ffcc00 !default;
$myOtherPrettyColor: lighten($balanced, 20%) !default;
